.App {
  text-align: center;
  font-family: sans-serif;
}

.container {
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto;
}

.btn-primary {
  background-color: #3498db;
  color: rgb(219, 0, 0);
}

.btn-primary:hover {
  background-color: #2980b9;
}

body {
  background-color: #f5f5f5; /* Change the background color to your desired color */
}