/* Contact.css */

.contact-container {
  max-width: 800px;
  margin: 100px auto; /* Adjusted margin */
  padding: 60px; /* Increased padding */
  text-align: center;
  background-color: #f9f9f9; /* Light background color */
  border-radius: 20px; /* Increased border radius */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Increased box shadow */
}

.contact-content {
  width: 100%;
}

.contact-title {
  font-size: 3rem; /* Increased font size */
  margin-bottom: 40px; /* Increased margin */
  color: #333333;
}

.contact-info {
  margin-top: 40px;
}

.contact-item {
  margin-bottom: 30px; /* Increased margin */
  font-size: 1.6rem; /* Increased font size */
  color: #555555;
}

.contact-item strong {
  margin-right: 10px;
  color: #3498db;
}

.contact-link {
  color: #3498db;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-info-highlight {
  color: #27ae60; /* Green color */
}
